h1 {
background-color: blueviolet;
color: azure;
text-align: center;
}
h2 {
background-color: forestgreen;
color: azure;
text-align: center;
}
h3 {
background-color: salmon;
color: azure;
text-align: center;
}
.tags {
background-color: beige;
color: orangered;
}
p {
font-size: 15px;
}
.b {
font-size: 20px;
font-weight: 700;
}
li{
font-size: 25px;
font-style: italic;
}
p::first-letter {
    font-size: 40px;
    color: green;
}
h2::after{
    content: "(after)";
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h2::before{
    content: "(before)";
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h3::selection {
    color: blueviolet;
}
p::first-line{
    color: skyblue;
}
input {
    width: 30px;
    height: 30px;
    color: green;
}
input:in-range {
    color: red;
    /* background-color:aqua; */
}
.box{
    min-width:500px;
    max-width: 1000px;
    background-color: yellowgreen;
}
.box:in-range{
    background-color: aquamarine;
}
.box:out-of-range{
    background-color: brown;
}